/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Aligne les éléments à gauche */
}

.navbar li {
    margin-right: 20px; /* Espacement entre les liens */
}

.navbar a {
    text-decoration: none;
    color: #007bff;
}

.navbar a:hover {
    text-decoration: underline;
}

form#logout-form {
    display: inline; /* Affiche le formulaire sur la même ligne que les autres éléments */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}
