{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <header>
        <h1>Mon Blog</h1>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'article:list_article' %}">Accueil</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user:profile' %}">Profil</a></li>
                    <li>
                        <form id="logout-form" action="{% url 'user:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Déconnexion</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'user:login' %}">Connexion</a></li>
                    <li><a href="{% url 'user:signup' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Blog. Tous droits réservés.</p>
    </footer>
</body>
</html>


{% comment %} {%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Mon Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'article:list_article' %}">Accueil</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user:profile' %}">Profil</a></li>
                    <li>
                        <form id="logout-form" action="{% url 'user:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Déconnexion</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'user:login' %}">Connexion</a></li>
                    <li><a href="{% url 'user:signup' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Blog. Tous droits réservés.</p>
    </footer>
</body>
</html> {% endcomment %}
